body {
  font-family: serif;
  background-image: url(https://t4.ftcdn.net/jpg/03/84/55/29/360_F_384552930_zPoe9zgmCF7qgt8fqSedcyJ6C6Ye3dFs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
/* add height to fill the background*/

html {
  height: 100%;
}
/* add height for full page height */

form {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}
/* add width to contain  */

#space {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 36px;
  color: #000000; /*changed from 'font-color' to 'color'*/
}

#description {
  font-size: 20px;
  color: #000000; /* changed from 'font-color' to 'color'*/
  margin-top: 0;
}

fieldset {
  margin: 0 auto; /* revised to center and remove excessive vertical gap */
  background-color: #ccccff;
  opacity: 0.8;
  margin-bottom: 0; /* add to remove space */
  
}

#input-text > label {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
#input-text > input {
  margin: 2px 5px;
  width: 95%;
  height: 20px
 
}

#dropdown {
  width: 50%;
  height: 25px;
  margin-top: 2px;
  margin-left: 5px;
}

#dropdown > option {
  padding-top: 20px;
  padding-bottom: 5px;
}

h2 {
  margin-top: 40px;
  border-bottom: 1px solid black;
}

input[type="radio"] {
  margin-bottom: 1px;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  margin: 0;
}
#department > label {
  display: flex;
  align-items: center;
  margin-bottom: 2px; /* add for spacing consistency */
}


h3 {
  border-bottom: 1px solid black;
  font-weight: 800;
  font-size: 20px;
}

input[type="checkbox"] {
  display: flex;
  align-items: center;
  
}

#work-type > label {
  display: flex;
  align-items: center;
  margin: 0;
  
}

#improve {
  width: 95%;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 0;
}

.button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 8px 40px;
  margin-bottom: 20px;
}


  .button:hover {
    background-color: #2b80b4;
  }
  













    
